/HttpAPI/.idea/**
/HttpAPI/out/**
/HttpAPI/target/**
/SoletApi/.idea/**
/SoletApi/out/**
/SoletApi/target/**
/JavacheWebServer/api/.idea/**
/JavacheWebServer/api/out/**
/JavacheWebServer/api/target/**
/JavacheWebServer/server/.idea/**
/JavacheWebServer/server/out/**
/JavacheWebServer/server/target/**
