src/http-api/.idea/**
src/http-api/out/**
src/http-api/target/**
src/broccolina-request-handler/.idea/**
src/broccolina-request-handler/out/**
src/broccolina-request-handler/target/**
src/coyote-resource-handler/.idea/**
src/coyote-resource-handler/out/**
src/coyote-resource-handler/target/**
src/solet-api/.idea/**
src/solet-api/out/**
src/solet-api/target/**
src/javache-web-server/api/.idea/**
src/javache-web-server/api/out/**
src/javache-web-server/api/target/**
src/javache-web-server/server/.idea/**
src/javache-web-server/server/out/**
src/javache-web-server/server/target/**
src/javache-web-server/server-embedded/.idea/**
src/javache-web-server/server-embedded/out/**
src/javache-web-server/server-embedded/target/**
src/summer-mvc-framework/.idea/**
src/summer-mvc-framework/out/**
src/summer-mvc-framework/target/**
src/summer-mvc-framework/summer.iml
src/coyote-resource-handler/toyote.iml
src/javache-web-server/server-embedded/Javache Embedded.iml
src/javache-web-server/server-embedded/javache-embedded.iml
src/coyote-resource-handler/dependency-reduced-pom.xml
src/javache-web-server/api/javache-api.iml
src/javache-web-server/server/javache.iml
src/http-api/http.iml
src/javache-web-server/server-embedded/dependency-reduced-pom.xml
local-repository/
build-output/
